.form {
  background: white;
  color: black;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.inputForm {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #010114;
  color: #fff;
  border-radius: 5px;
}

.btn-form {
  background-color: rgb(25, 11, 77);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
