.title-todo {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.todo {
  background: rgb(25, 11, 77);
  color: white;
  margin: 0 2rem 2rem 0;
  padding: 10px 30px;
  border-radius: 1rem;
  width: 10rem;
}

.todo hr {
  border-size: 1px;
  width: calc(100% + 50px) !important;
}
